body {
    font-family: Arial, sans-serif;
    background-color: cyan;
}

#principal {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-wrapper { 
    display: inline-block; 
    text-align: left; 
}

#pesquisa {
    font-style: italic;
}
